.header{
    margin-top: 20px;
    width: 100%;
    height: calc(100vh - 60px);
    background: url(../img/python.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headp{
    text-align: center;
    font-size: 45px;
    font-family: Arial;
    font-weight: bold;
    text-transform: capitalize;
    background-size: cover;
    justify-content: center;
}
.content{
    text-align: center;
}

.heading{
    color: #fff;
    text-transform: capitalize;
    font-size: 80px;
    line-height: 60px;
    margin-bottom: 80px;
}

.heading .small{
    display: block;
    font-size: 40px;
}

.heading .no-fill{
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}
body{
    position: relative;
    font-size: 28px;
}
footer{
    text-align: center;
    background-color: burlywood;
}